{% extends 'layout.html' %}

{% block title %} System Overview {% endblock %}

{% block angular_app %}hostTrack{% endblock %}

{% block head %}
	{% parent %}

	<script>
		var hostTrack = angular.module('hostTrack', [], function($interpolateProvider) {
			$interpolateProvider.startSymbol('[[');
			$interpolateProvider.endSymbol(']]');
		});

		// hostTrack.factory('hostTrackData', function($http) {
		//  return {
		//      getData: function() {
		//          return $http.get('/data/students');
		//      }
		//  };
		// });

		hostTrack.factory('socket', function ($rootScope) {
		  var socket = io.connect();
		  return {
			on: function (eventName, callback) {
			  socket.on(eventName, function () {  
				var args = arguments;
				$rootScope.$apply(function () {
				  callback.apply(socket, args);
				});
			  });
			},
			emit: function (eventName, data, callback) {
			  socket.emit(eventName, data, function () {
				var args = arguments;
				$rootScope.$apply(function () {
				  if (callback) {
					callback.apply(socket, args);
				  }
				});
			  })
			}
		  };
		});

		hostTrack.controller('hostTrackController', function($scope, $http, socket) {

			$http({
				method: 'get',
				url: '/data/students'
			}).success(function(data, status) {
				$scope.hosts = data;
			}).error(function(data, status) {
				console.log(status);
			});

			socket.on('init', function(data) {
				console.log('not sure');
			});

			socket.on('updates:ip', function(data) {
				for (var key in $scope.hosts) {
					$scope.hosts[key].active = 'inactive';
				}
				// $scope.hosts.forEach(function(val, idx, rows){
				//  val.active = 'inactive';
				// });

				data.forEach(function(val, idx, rows){
					$scope.hosts[val.user_id].active = val.status;
				});
				
				// $scope.$apply();
				// console.log(data);
			});

			$scope.showDetails = function(host) {
				$scope.selectedHost = host;
			}

			// $http.get('/data/students',function(data) {
			//  hostTrackControl.hosts = data;
			// })

			// hostTrackControl.hosts = 
			//  [
			//      {
			//          'name': 'Ben Carlson',
			//          'id': '0755502',
			//          'ip_addr': '192.168.1.1',
			//          'active': '1'
			//      },

			//      {
			//          'name': 'Ben Carlson',
			//          'id': '0755502',
			//          'ip_addr': '192.168.1.1',
			//          'active': '1'
			//      },
			//  ];

			$scope.test = function() {
				console.log("wut");
			}
		});
	</script>
{% endblock %}

{% block content %}
	<div class="uk-grid" data-uk-grid-margin ng-controller="hostTrackController">
		<div class="uk-width-medium-3-4" >
		<table class="uk-table uk-table-hover">
			<thead>
				<tr><td> Name </td><td> Student ID </td><td> IP Address </td><td>Active?</td></tr>
			</thead>
			<tbody>
				<tr ng-repeat="host in hosts" ng-click="showDetails(host)">
					<td>[[host.name]]</td>
					<td>[[host.student_id]]</td>
					<td>[[host.ip_addr]]</td>
					<td>[[host.active]]</td>
				</tr>
			</tbody> 
		</table>




		</div>


		<div class="uk-width-medium-1-4">

			<div class ="uk-sticky-placeholder" style="height: 270px">

				<div class="uk-panel uk-panel-box" data-uk-sticky="{top:35}" margin="0px">
					<h4>[[selectedHost.name]] - [[selectedHost.active]]</h4> 

					<div>
						<span>Submissions</span>
						<ul>
							<li>Question 1</li>
							<li>Question 2</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}