<!DOCTYPE html>
<html lang="en-gb" dir="ltr" ng-app="roster">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Frontpage layout example - UIkit documentation</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="uikit/css/uikit.gradient.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
        <script src="uikit/js/uikit.min.js"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>


        <script>

        angular.module('roster', [])
            .controller('RosterController', function($scope, $http) {

                $http({
                    method: 'get',
                    url: '/data/students'
                }).success(function(data, status) {
                    $scope.hosts = data;
                }).error(function(data, status) {
                    console.log(status);
                });

                $scope.submitSingle = function() {
                    $http({
                        method  :   'POST',
                        url     :   '/admin/roster/add',
                        data    :   $.param($scope.formData),
                        headers :   { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).success(function(data) {
                        if (!data.success) {
                            console.log("submission failure");
                        } else {
                            $scope.hosts.push(data.message);
                        }
                    });
                }

                $scope.submitBulk = function() {
                    var data = {'bulkData': $scope.bulkData};

                    $http({
                        method  : 'POST',
                        url     : '/admin/roster/add_bulk',
                        data    : $.param(data),
                        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }
                    }).success(function(data) {
                        if (!data.success) {
                            console.log("submission failure");
                        } else {
                            console.log(data.message);
                            $scope.hosts = $scope.hosts.concat(data.message);
                        }
                    });
                }
            });

        </script>

        <style>
        .add_student_field input{
            margin-top: 4px;
            margin-bottom: 4px;
        }
        </style>

    </head>

    <body>

        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">Brand</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li class="uk-active">
                        <a href="layouts_frontpage.html">Frontpage</a>
                    </li>
                    <li>
                        <a href="layouts_portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="layouts_blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="layouts_documentation.html">Documentation</a>
                    </li>
                    <li>
                        <a href="layouts_contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="layouts_login.html">Login</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
            </nav>

            <div class="uk-grid" data-uk-grid-margin ng-controller="RosterController">
                <div class="uk-width-medium-3-4" >
                <table class="uk-table uk-table-hover">
                    <thead>
                        <tr><td> Name </td><td> Student ID </td><td> IP Address </td><td>Active?</td></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="host in hosts">
                            <td>{{host.firstName}} {{host.lastName}}</td>
                            <td>{{host.studentID}}</td>
                            <td>{{host.ipAddress}}</td>
                            <td>{{host.isActive}}</td>
                        </tr>
                    </tbody> 
                </table>

                </div>


                <div class="uk-width-medium-1-4">

                    <div class ="uk-sticky-placeholder" style="height: 270px">

                        <div class="uk-panel uk-panel-box" data-uk-sticky="{top:35}" margin="0px">
                            <h4>Add Single</h4> 

                            <div>
                                <form ng-submit="submitSingle()" class="uk-form">
                                        <span class="add_student_field"><input placeholder="Student ID" type="text" ng-model="formData.studentID"></span>
                                        <span class="add_student_field"><input placeholder="First Name" type="text" ng-model="formData.firstName"></span>
                                        <span class="add_student_field"><input placeholder="Last Name" type="text" ng-model="formData.lastName"></span>

                                    <input class="uk-button uk-button-primary" type="submit" id="submit" value="Submit Single">
                                </form>
                            </div>

                            <div>
                                <form ng-submit="submitBulk()" class="uk-form">
                                    <textarea placeholder="Enter CSV Here" ng-model="bulkData"></textarea>

                                    <input class="uk-button uk-button-primary" type="submit" value="Submit Bulk">
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="offcanvas" class="uk-offcanvas">
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-offcanvas">
                    <li class="uk-active">
                        <a href="layouts_frontpage.html">Frontpage</a>
                    </li>
                    <li>
                        <a href="layouts_portfolio.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="layouts_blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="layouts_documentation.html">Documentation</a>
                    </li>
                    <li>
                        <a href="layouts_contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="layouts_login.html">Login</a>
                    </li>
                </ul>
            </div>
        </div>

    </body>
</html>